/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, form input[type=submit].hollow, form input[type=submit] {
  background-color: unset;
  border-style: none;
}

.bg-light {
  background-color: #E0E0E0;
  color: #202020;
}

.bg-dark {
  background-color: #202020;
  color: #E0E0E0;
}

.bg-blue {
  background-color: #2163DB;
  color: white;
}

.bg-orange {
  background-color: #E8A617;
  color: white;
}

.text-blue {
  color: #2163DB;
  display: inline;
}

.text-orange {
  color: #E8A617;
  display: inline;
}

.text-green {
  color: #28A745;
  display: inline;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #202020;
}

body {
  background-color: #f2f2f2;
  min-height: 100vh;
}

body > .container {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Manrope, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.62em;
}

h3, h4, h5, h6 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

p {
  margin-top: 8px;
  margin-bottom: 10px;
  line-height: 1.3em;
}

:not(nav) ol,
:not(nav) ul {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}
:not(nav) ol li,
:not(nav) ul li {
  font-size: 1.1em;
  margin-bottom: 4px;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center, table {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

a,
a.a-blue {
  color: #2163DB;
  text-decoration: none;
  cursor: pointer;
  width: auto;
}
a:hover,
a.a-blue:hover {
  color: #1a4faf;
  text-decoration: underline;
}
a:focus,
a.a-blue:focus {
  outline: none;
  text-decoration: underline;
}

a.a-orange {
  color: #E8A617;
  text-decoration: none;
  cursor: pointer;
  width: auto;
}
a.a-orange:hover {
  color: #ba8512;
  text-decoration: underline;
}
a.a-orange:focus {
  outline: none;
  text-decoration: underline;
}

a.a-dark {
  color: #202020;
  text-decoration: none;
  cursor: pointer;
  width: auto;
}
a.a-dark:hover {
  color: #535353;
  text-decoration: underline;
}
a.a-dark:focus {
  outline: none;
  text-decoration: underline;
}

a.a-light {
  color: #E0E0E0;
  text-decoration: none;
  cursor: pointer;
  width: auto;
}
a.a-light:hover {
  color: #c7c7c7;
  text-decoration: underline;
}
a.a-light:focus {
  outline: none;
  text-decoration: underline;
}

table {
  width: 100%;
}

tr {
  background-color: #E0E0E0;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}

th,
table.titled tr td:first-child {
  font-weight: bold;
  background-color: #202020;
  color: #E0E0E0;
}

th,
td {
  height: 24px;
  line-height: 24px;
}

form {
  box-shadow: 0 2px 10px #c7c7c7;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}
form h1 {
  margin-top: 6px;
  margin-bottom: 20px;
}
form h2 {
  margin-top: 6px;
  margin-bottom: 20px;
}
form h3 {
  margin-top: 6px;
  margin-bottom: 20px;
}
form h4 {
  margin-top: 6px;
  margin-bottom: 20px;
}
form h5 {
  margin-top: 6px;
  margin-bottom: 20px;
}
form h6 {
  margin-top: 6px;
  margin-bottom: 20px;
}
form span {
  display: flex;
}
form label {
  display: inline-block;
  width: 130px;
  margin-bottom: 10px;
  line-height: 38px;
}
form input {
  flex-grow: 1;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 2px 5px;
  height: 30px;
  border-style: none;
  border: 2px solid #E0E0E0;
  border-left: 9px solid #E0E0E0;
  border-radius: 6px;
}
form input:focus {
  outline: none;
  border: 2px solid #2163DB;
  border-left: 9px solid #2163DB;
  border-radius: 6px;
}
form input[type=submit] {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
form input[type=submit]:focus {
  border: none;
}

button, form input[type=submit], form input[type=submit].hollow {
  display: block;
  max-width: 360px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 7px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #c7c7c7;
  border: 2px solid #c7c7c7;
  color: white;
}
button:focus, form input[type=submit]:focus, button.hollow:focus {
  outline: none;
  border: 2px solid #2163DB;
}
button:hover, form input[type=submit]:hover {
  background-color: #2163DB;
  color: white;
  border: 2px solid #2163DB;
}
button.hollow, form input.hollow[type=submit] {
  background-color: transparent;
  border: 2px solid #E0E0E0;
  color: #bfbfbf;
}
button.hollow:hover, form input.hollow[type=submit]:hover {
  border: 2px solid #2163DB;
  color: #2163DB;
  outline: none;
}
button:hover, form input[type=submit]:hover {
  cursor: pointer;
}

footer.footer-blue {
  min-height: 90px;
  height: auto;
  background-color: #2163DB;
  color: white;
  overflow: hidden;
}
footer.footer-blue ul, footer.footer-blue ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
footer.footer-blue ul li, footer.footer-blue ol li {
  margin-bottom: 10px;
}
footer.footer-orange {
  min-height: 90px;
  height: auto;
  background-color: #E8A617;
  color: white;
  overflow: hidden;
}
footer.footer-orange ul, footer.footer-orange ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
footer.footer-orange ul li, footer.footer-orange ol li {
  margin-bottom: 10px;
}
footer, footer.footer-light {
  min-height: 90px;
  height: auto;
  background-color: #E0E0E0;
  color: #202020;
  overflow: hidden;
}
footer ul, footer ol, footer.footer-light ul, footer.footer-light ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
footer ul li, footer ol li, footer.footer-light ul li, footer.footer-light ol li {
  margin-bottom: 10px;
}
footer.footer-dark {
  min-height: 90px;
  height: auto;
  background-color: #202020;
  color: #E0E0E0;
  overflow: hidden;
}
footer.footer-dark ul, footer.footer-dark ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
footer.footer-dark ul li, footer.footer-dark ol li {
  margin-bottom: 10px;
}

@media all and (max-width: 700px) {
  footer .col > *, footer .nav-bar-dark ul li.dropdown div.dropdown-content ul > *, .nav-bar-dark ul li.dropdown div.dropdown-content footer ul > *, footer .nav-bar ul li.dropdown div.dropdown-content ul > *, .nav-bar ul li.dropdown div.dropdown-content footer ul > *,
footer .nav-bar-light ul li.dropdown div.dropdown-content ul > *,
.nav-bar-light ul li.dropdown div.dropdown-content footer ul > *, footer .nav-bar-orange ul li.dropdown div.dropdown-content ul > *, .nav-bar-orange ul li.dropdown div.dropdown-content footer ul > *, footer .nav-bar-blue ul li.dropdown div.dropdown-content ul > *, .nav-bar-blue ul li.dropdown div.dropdown-content footer ul > * {
    margin-left: auto;
    margin-right: auto;
  }
}
.nav-bar-blue {
  background-color: #2163DB;
  color: white;
}
.nav-bar-blue ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-bar-blue ul li {
  height: 60px;
  line-height: 60px;
  margin: 0;
}
.nav-bar-blue ul li#nav-brand, .nav-bar-blue ul li.nav-brand {
  font-weight: bold;
  font-size: 1.1em;
  padding-right: 16px;
}
.nav-bar-blue ul li.dropdown a, .nav-bar-blue ul li a {
  padding: 19px 8px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.nav-bar-blue ul li.dropdown a:hover, .nav-bar-blue ul li.dropdown a:focus, .nav-bar-blue ul li a:hover, .nav-bar-blue ul li a:focus {
  background-color: #4b81e4;
}
.nav-bar-blue ul li.dropdown a i.down-arrow {
  border: solid currentColor;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav-bar-blue ul li.dropdown div.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 9px solid #2163DB;
  border-radius: 0 0 6px 6px;
  min-width: 10px;
  width: auto;
  z-index: 1;
}
.nav-bar-blue ul li.dropdown div.dropdown-content ul li a {
  float: left;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  color: #202020;
  background-color: white;
}
.nav-bar-blue ul li.dropdown div.dropdown-content ul li a:hover {
  color: inherit;
  background-color: #2163DB;
}
.nav-bar-blue ul li.dropdown:hover div.dropdown-content {
  display: block;
}

.nav-bar-orange {
  background-color: #E8A617;
  color: white;
}
.nav-bar-orange ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-bar-orange ul li {
  height: 60px;
  line-height: 60px;
  margin: 0;
}
.nav-bar-orange ul li#nav-brand, .nav-bar-orange ul li.nav-brand {
  font-weight: bold;
  font-size: 1.1em;
  padding-right: 16px;
}
.nav-bar-orange ul li.dropdown a, .nav-bar-orange ul li a {
  padding: 19px 8px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.nav-bar-orange ul li.dropdown a:hover, .nav-bar-orange ul li.dropdown a:focus, .nav-bar-orange ul li a:hover, .nav-bar-orange ul li a:focus {
  background-color: #edb845;
}
.nav-bar-orange ul li.dropdown a i.down-arrow {
  border: solid currentColor;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav-bar-orange ul li.dropdown div.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 9px solid #E8A617;
  border-radius: 0 0 6px 6px;
  min-width: 10px;
  width: auto;
  z-index: 1;
}
.nav-bar-orange ul li.dropdown div.dropdown-content ul li a {
  float: left;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  color: #202020;
  background-color: white;
}
.nav-bar-orange ul li.dropdown div.dropdown-content ul li a:hover {
  color: inherit;
  background-color: #E8A617;
}
.nav-bar-orange ul li.dropdown:hover div.dropdown-content {
  display: block;
}

.nav-bar,
.nav-bar-light {
  background-color: #E0E0E0;
  color: #202020;
}
.nav-bar ul,
.nav-bar-light ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-bar ul li,
.nav-bar-light ul li {
  height: 60px;
  line-height: 60px;
  margin: 0;
}
.nav-bar ul li#nav-brand, .nav-bar ul li.nav-brand,
.nav-bar-light ul li#nav-brand,
.nav-bar-light ul li.nav-brand {
  font-weight: bold;
  font-size: 1.1em;
  padding-right: 16px;
}
.nav-bar ul li.dropdown a, .nav-bar ul li a,
.nav-bar-light ul li.dropdown a,
.nav-bar-light ul li a {
  padding: 19px 8px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.nav-bar ul li.dropdown a:hover, .nav-bar ul li.dropdown a:focus, .nav-bar ul li a:hover, .nav-bar ul li a:focus,
.nav-bar-light ul li.dropdown a:hover,
.nav-bar-light ul li.dropdown a:focus,
.nav-bar-light ul li a:hover,
.nav-bar-light ul li a:focus {
  background-color: #c7c7c7;
}
.nav-bar ul li.dropdown a i.down-arrow,
.nav-bar-light ul li.dropdown a i.down-arrow {
  border: solid currentColor;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav-bar ul li.dropdown div.dropdown-content,
.nav-bar-light ul li.dropdown div.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 9px solid #E0E0E0;
  border-radius: 0 0 6px 6px;
  min-width: 10px;
  width: auto;
  z-index: 1;
}
.nav-bar ul li.dropdown div.dropdown-content ul li a,
.nav-bar-light ul li.dropdown div.dropdown-content ul li a {
  float: left;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  color: #202020;
  background-color: white;
}
.nav-bar ul li.dropdown div.dropdown-content ul li a:hover,
.nav-bar-light ul li.dropdown div.dropdown-content ul li a:hover {
  color: inherit;
  background-color: #E0E0E0;
}
.nav-bar ul li.dropdown:hover div.dropdown-content,
.nav-bar-light ul li.dropdown:hover div.dropdown-content {
  display: block;
}

.nav-bar-dark {
  background-color: #202020;
  color: #E0E0E0;
}
.nav-bar-dark ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-bar-dark ul li {
  height: 60px;
  line-height: 60px;
  margin: 0;
}
.nav-bar-dark ul li#nav-brand, .nav-bar-dark ul li.nav-brand {
  font-weight: bold;
  font-size: 1.1em;
  padding-right: 16px;
}
.nav-bar-dark ul li.dropdown a, .nav-bar-dark ul li a {
  padding: 19px 8px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.nav-bar-dark ul li.dropdown a:hover, .nav-bar-dark ul li.dropdown a:focus, .nav-bar-dark ul li a:hover, .nav-bar-dark ul li a:focus {
  background-color: #3a3a3a;
}
.nav-bar-dark ul li.dropdown a i.down-arrow {
  border: solid currentColor;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav-bar-dark ul li.dropdown div.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 9px solid #202020;
  border-radius: 0 0 6px 6px;
  min-width: 10px;
  width: auto;
  z-index: 1;
}
.nav-bar-dark ul li.dropdown div.dropdown-content ul li a {
  float: left;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  color: #202020;
  background-color: white;
}
.nav-bar-dark ul li.dropdown div.dropdown-content ul li a:hover {
  color: inherit;
  background-color: #202020;
}
.nav-bar-dark ul li.dropdown:hover div.dropdown-content {
  display: block;
}

.container {
  max-width: 1000px;
  overflow: hidden;
  height: 100%;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.section {
  overflow: hidden;
}

.row, div.carousel div.indicators, .nav-bar-blue ul, .nav-bar-orange ul, .nav-bar ul,
.nav-bar-light ul, .nav-bar-dark ul {
  display: flex;
  flex-direction: row;
}
.row.spaced .col:not(:last-child), div.carousel div.spaced.indicators .col:not(:last-child), .nav-bar-blue ul.spaced .col:not(:last-child), .nav-bar-orange ul.spaced .col:not(:last-child), .nav-bar ul.spaced .col:not(:last-child),
.nav-bar-light ul.spaced .col:not(:last-child), .nav-bar-dark ul.spaced .col:not(:last-child), .row.spaced .nav-bar-blue ul li.dropdown div.dropdown-content ul:not(:last-child), div.carousel div.spaced.indicators .nav-bar-blue ul li.dropdown div.dropdown-content ul:not(:last-child), .nav-bar-blue ul li.dropdown div.dropdown-content .row.spaced ul:not(:last-child), .nav-bar-blue ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul:not(:last-child), div.carousel .nav-bar-blue ul li.dropdown div.dropdown-content div.spaced.indicators ul:not(:last-child), .nav-bar-blue ul.spaced li.dropdown div.dropdown-content ul:not(:last-child), .row.spaced .nav-bar-orange ul li.dropdown div.dropdown-content ul:not(:last-child), div.carousel div.spaced.indicators .nav-bar-orange ul li.dropdown div.dropdown-content ul:not(:last-child), .nav-bar-orange ul li.dropdown div.dropdown-content .row.spaced ul:not(:last-child), .nav-bar-orange ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul:not(:last-child), div.carousel .nav-bar-orange ul li.dropdown div.dropdown-content div.spaced.indicators ul:not(:last-child), .nav-bar-orange ul.spaced li.dropdown div.dropdown-content ul:not(:last-child), .row.spaced .nav-bar ul li.dropdown div.dropdown-content ul:not(:last-child), div.carousel div.spaced.indicators .nav-bar ul li.dropdown div.dropdown-content ul:not(:last-child), .nav-bar ul li.dropdown div.dropdown-content .row.spaced ul:not(:last-child), .nav-bar ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul:not(:last-child), div.carousel .nav-bar ul li.dropdown div.dropdown-content div.spaced.indicators ul:not(:last-child), .nav-bar ul.spaced li.dropdown div.dropdown-content ul:not(:last-child),
.row.spaced .nav-bar-light ul li.dropdown div.dropdown-content ul:not(:last-child),
div.carousel div.spaced.indicators .nav-bar-light ul li.dropdown div.dropdown-content ul:not(:last-child),
.nav-bar-light ul li.dropdown div.dropdown-content .row.spaced ul:not(:last-child),
.nav-bar-light ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul:not(:last-child),
div.carousel .nav-bar-light ul li.dropdown div.dropdown-content div.spaced.indicators ul:not(:last-child),
.nav-bar-light ul.spaced li.dropdown div.dropdown-content ul:not(:last-child), .row.spaced .nav-bar-dark ul li.dropdown div.dropdown-content ul:not(:last-child), div.carousel div.spaced.indicators .nav-bar-dark ul li.dropdown div.dropdown-content ul:not(:last-child), .nav-bar-dark ul li.dropdown div.dropdown-content .row.spaced ul:not(:last-child), .nav-bar-dark ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul:not(:last-child), div.carousel .nav-bar-dark ul li.dropdown div.dropdown-content div.spaced.indicators ul:not(:last-child), .nav-bar-dark ul.spaced li.dropdown div.dropdown-content ul:not(:last-child) {
  margin-right: 6px;
}
.row.spaced .col:not(:first-child), div.carousel div.spaced.indicators .col:not(:first-child), .nav-bar-blue ul.spaced .col:not(:first-child), .nav-bar-orange ul.spaced .col:not(:first-child), .nav-bar ul.spaced .col:not(:first-child),
.nav-bar-light ul.spaced .col:not(:first-child), .nav-bar-dark ul.spaced .col:not(:first-child), .row.spaced .nav-bar-blue ul li.dropdown div.dropdown-content ul:not(:first-child), div.carousel div.spaced.indicators .nav-bar-blue ul li.dropdown div.dropdown-content ul:not(:first-child), .nav-bar-blue ul li.dropdown div.dropdown-content .row.spaced ul:not(:first-child), .nav-bar-blue ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul:not(:first-child), div.carousel .nav-bar-blue ul li.dropdown div.dropdown-content div.spaced.indicators ul:not(:first-child), .nav-bar-blue ul.spaced li.dropdown div.dropdown-content ul:not(:first-child), .row.spaced .nav-bar-orange ul li.dropdown div.dropdown-content ul:not(:first-child), div.carousel div.spaced.indicators .nav-bar-orange ul li.dropdown div.dropdown-content ul:not(:first-child), .nav-bar-orange ul li.dropdown div.dropdown-content .row.spaced ul:not(:first-child), .nav-bar-orange ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul:not(:first-child), div.carousel .nav-bar-orange ul li.dropdown div.dropdown-content div.spaced.indicators ul:not(:first-child), .nav-bar-orange ul.spaced li.dropdown div.dropdown-content ul:not(:first-child), .row.spaced .nav-bar ul li.dropdown div.dropdown-content ul:not(:first-child), div.carousel div.spaced.indicators .nav-bar ul li.dropdown div.dropdown-content ul:not(:first-child), .nav-bar ul li.dropdown div.dropdown-content .row.spaced ul:not(:first-child), .nav-bar ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul:not(:first-child), div.carousel .nav-bar ul li.dropdown div.dropdown-content div.spaced.indicators ul:not(:first-child), .nav-bar ul.spaced li.dropdown div.dropdown-content ul:not(:first-child),
.row.spaced .nav-bar-light ul li.dropdown div.dropdown-content ul:not(:first-child),
div.carousel div.spaced.indicators .nav-bar-light ul li.dropdown div.dropdown-content ul:not(:first-child),
.nav-bar-light ul li.dropdown div.dropdown-content .row.spaced ul:not(:first-child),
.nav-bar-light ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul:not(:first-child),
div.carousel .nav-bar-light ul li.dropdown div.dropdown-content div.spaced.indicators ul:not(:first-child),
.nav-bar-light ul.spaced li.dropdown div.dropdown-content ul:not(:first-child), .row.spaced .nav-bar-dark ul li.dropdown div.dropdown-content ul:not(:first-child), div.carousel div.spaced.indicators .nav-bar-dark ul li.dropdown div.dropdown-content ul:not(:first-child), .nav-bar-dark ul li.dropdown div.dropdown-content .row.spaced ul:not(:first-child), .nav-bar-dark ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul:not(:first-child), div.carousel .nav-bar-dark ul li.dropdown div.dropdown-content div.spaced.indicators ul:not(:first-child), .nav-bar-dark ul.spaced li.dropdown div.dropdown-content ul:not(:first-child) {
  margin-left: 6px;
}

.col, .nav-bar-blue ul li.dropdown div.dropdown-content ul, .nav-bar-orange ul li.dropdown div.dropdown-content ul, .nav-bar ul li.dropdown div.dropdown-content ul,
.nav-bar-light ul li.dropdown div.dropdown-content ul, .nav-bar-dark ul li.dropdown div.dropdown-content ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

@media all and (max-width: 800px) {
  .row, div.carousel div.indicators, .nav-bar-blue ul, .nav-bar-orange ul, .nav-bar ul,
.nav-bar-light ul, .nav-bar-dark ul {
    flex-wrap: wrap;
  }
  .row.spaced .col, div.carousel div.spaced.indicators .col, .nav-bar-blue ul.spaced .col, .nav-bar-orange ul.spaced .col, .nav-bar ul.spaced .col,
.nav-bar-light ul.spaced .col, .nav-bar-dark ul.spaced .col, .row.spaced .nav-bar-blue ul li.dropdown div.dropdown-content ul, div.carousel div.spaced.indicators .nav-bar-blue ul li.dropdown div.dropdown-content ul, .nav-bar-blue ul li.dropdown div.dropdown-content .row.spaced ul, .nav-bar-blue ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul, div.carousel .nav-bar-blue ul li.dropdown div.dropdown-content div.spaced.indicators ul, .nav-bar-blue ul.spaced li.dropdown div.dropdown-content ul, .row.spaced .nav-bar-orange ul li.dropdown div.dropdown-content ul, div.carousel div.spaced.indicators .nav-bar-orange ul li.dropdown div.dropdown-content ul, .nav-bar-orange ul li.dropdown div.dropdown-content .row.spaced ul, .nav-bar-orange ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul, div.carousel .nav-bar-orange ul li.dropdown div.dropdown-content div.spaced.indicators ul, .nav-bar-orange ul.spaced li.dropdown div.dropdown-content ul, .row.spaced .nav-bar ul li.dropdown div.dropdown-content ul, div.carousel div.spaced.indicators .nav-bar ul li.dropdown div.dropdown-content ul, .nav-bar ul li.dropdown div.dropdown-content .row.spaced ul, .nav-bar ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul, div.carousel .nav-bar ul li.dropdown div.dropdown-content div.spaced.indicators ul, .nav-bar ul.spaced li.dropdown div.dropdown-content ul,
.row.spaced .nav-bar-light ul li.dropdown div.dropdown-content ul,
div.carousel div.spaced.indicators .nav-bar-light ul li.dropdown div.dropdown-content ul,
.nav-bar-light ul li.dropdown div.dropdown-content .row.spaced ul,
.nav-bar-light ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul,
div.carousel .nav-bar-light ul li.dropdown div.dropdown-content div.spaced.indicators ul,
.nav-bar-light ul.spaced li.dropdown div.dropdown-content ul, .row.spaced .nav-bar-dark ul li.dropdown div.dropdown-content ul, div.carousel div.spaced.indicators .nav-bar-dark ul li.dropdown div.dropdown-content ul, .nav-bar-dark ul li.dropdown div.dropdown-content .row.spaced ul, .nav-bar-dark ul li.dropdown div.dropdown-content div.carousel div.spaced.indicators ul, div.carousel .nav-bar-dark ul li.dropdown div.dropdown-content div.spaced.indicators ul, .nav-bar-dark ul.spaced li.dropdown div.dropdown-content ul {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.text-mono, .code {
  font-family: Consolas, monospace;
}

.code {
  border: 2px solid #E8A617;
  border-left: 9px solid #E8A617;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.2em;
  background: linear-gradient(180deg, #f4f4f4 0, #f4f4f4 1.2em, #E0E0E0 0);
  background-size: 2.4em 2.4em;
  background-origin: content-box;
  overflow-x: auto;
}
.code > * {
  white-space: pre;
  margin: 0;
}
.code * {
  line-height: 1.2em;
}

.note {
  background-color: #4db565;
  color: white;
  border: 2px solid #28A745;
  border-left: 9px solid #28A745;
  border-radius: 6px;
  padding: 5px 8px;
}
.note > * {
  display: inline;
  font-size: 1.2em;
}
.note .text-mono, .note .code {
  font-size: 1.15em;
  font-style: italic;
  font-weight: 200;
}

div.modal {
  display: none;
  padding-left: 2%;
  padding-right: 2%;
  overflow: auto;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 96%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
div.modal.active {
  display: block;
}
div.modal * {
  cursor: auto;
}
div.modal > div.modal-content {
  background-color: white;
  border-top: 9px solid #2163DB;
  border-bottom: 9px solid #2163DB;
  border-radius: 9px;
  max-width: 800px;
  min-height: 150px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 4px;
  margin: 15% auto;
}
div.modal > div.modal-content > span.modal-dismiss {
  width: 18px;
  height: 24px;
  font-size: 24px;
  float: right;
  margin-right: -18px;
  cursor: pointer;
}
div.modal > div.modal-content > span.modal-dismiss:hover {
  color: red;
}

div.carousel {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #202020;
}
div.carousel .carousel-content {
  height: 500px;
  max-height: 500px;
  width: auto;
  display: none;
}
div.carousel .carousel-content.active {
  display: block;
}
div.carousel i.prev-arrow, div.carousel i.next-arrow {
  width: 56px;
  height: 72px;
  font-weight: bold;
  font-size: 20pt;
  line-height: 72px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
  position: absolute;
  z-index: 1;
  top: 50%;
}
div.carousel i.prev-arrow:hover, div.carousel i.next-arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
div.carousel i.prev-arrow {
  left: 0;
  transform: translate(0, -50%);
  border-radius: 0 10px 10px 0;
}
div.carousel i.next-arrow {
  left: 100%;
  transform: translate(-100%, -50%);
  border-radius: 10px 0 0 10px;
}
div.carousel div.indicators {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, 9%);
  z-index: 1;
}
div.carousel div.indicators span.indicator {
  width: 30px;
  height: 6px;
  border-radius: 3px;
  background-color: #c7c7c7;
  cursor: pointer;
}
div.carousel div.indicators span.indicator:not(:last-child) {
  margin-right: 3px;
}
div.carousel div.indicators span.indicator:not(:first-child) {
  margin-left: 3px;
}
div.carousel div.indicators span.indicator.active {
  background-color: white;
}

div#snackbar {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2;
}
div#snackbar div.toast {
  display: none;
  width: auto;
  border-radius: 5px;
  padding: 8px 12px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
div#snackbar div.toast.active {
  display: block;
  animation: fadeup 0.3s, fadedown 0.3s 3.9s;
}
@keyframes fadeup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadedown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

div.collapse {
  height: 0;
  max-height: 0;
  transition: max-height 500ms ease-out;
}
div.collapse * {
  display: none;
}
div.collapse.active {
  height: auto;
  max-height: 500px;
  transition: max-height 500ms ease-out;
}
div.collapse.active * {
  display: block;
}

.disp-box {
  overflow: hidden;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
  padding: 10px;
}
.disp-box > p {
  margin: 0;
}

.mxw-500 {
  max-width: 500px;
}

.m-0 {
  margin: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.m-2 {
  margin: 2px;
}

.mt-2 {
  margin-top: 2px;
}

.mb-2 {
  margin-bottom: 2px;
}

.ml-2 {
  margin-left: 2px;
}

.mr-2 {
  margin-right: 2px;
}

.m-5 {
  margin: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10, .code, .note {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20, .section {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.m-30 {
  margin: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.m-40 {
  margin: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.m-50 {
  margin: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-auto {
  margin: auto;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/*# sourceMappingURL=style.css.map */

/* #### LARAVEL POKEDEX #### */

img#logo {
  width: 36px;
  height: 36px;
  margin-top: 12px;
}

span.nav-buffer {
  width: 100%;
}

li a {
  white-space: nowrap;
  overflow: hidden;
}

div#content {
  min-height: calc(100vh - 180px);
  padding-bottom: 30px;
}

div.pokemon-container {
  display: flex;
  flex-flow: row wrap;
  margin: -10px;
}

div.center {
  display: flex;
  justify-content: center;
}

form:not(.pokemon) {
  width: 475px;
}
form.pokemon {
  padding: 10px;
  box-shadow: 0 2px 10px #c7c7c7;
  border-radius: 10px;
  width: 470px;
  margin: 10px;
}
.error {
  color: red;
}

div.pokemon-title {
  margin: 20px 0 20px 0;
}
div.pokemon-title > button {
  margin: 0;
  padding: 0;
  background-color: unset;
  border: unset;
}
.pokemon-species {
  margin: 0;
  margin-right: 10px;
}
img.pokemon-favorite {
  height: 24px;
  width: auto;
  margin: 4px 0 4px 0;
  cursor: pointer;
}

img.pokemon-sprite {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

div.id-container {
  height: 95px;
  width: 245px;
  display: flex;
  flex-direction: row-reverse;
}
.pokemon-id {
  margin: 0;
  color: #AAA;
  align-self: flex-end;
}

hr {
  margin-bottom: 20px;
}

form.generation {
  width: 100%;
}
form.generation#gen-1 {
  background-color: #F15746;
}
form.generation#gen-2 {
  background-color: #8FC854;
}
form.generation#gen-3 {
  background-color: #6AA7Db;
}
form.generation h1 {
  text-align: center;
  color: white;
  margin: 6px 0 6px 0;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

form.prompt {
  border: 4px solid #829ED2;
  border-radius: 24px;
  font-family: 'Press Start 2P';
  font-size: 10pt;
}

form.prompt p{
  margin: 0;
}

div.pokemon-type {
  width: 90px;
  height: 25px;
  font-weight: 700;
  color: white;
  border-radius: 13px;
}
div.pokemon-type {
  margin-right: 6px;
}
div.pokemon-type > p {
  width: 90px;
  height: 26px;
  margin: 0;
  line-height: 26px;
  text-align: center;
}
div.pokemon-type.normal {
  background-color: #BBB9AB;
}
div.pokemon-type.fighting {
  background-color: #AA5946;
}
div.pokemon-type.flying {
  background-color: #829ED2;
}
div.pokemon-type.poison {
  background-color: #AB5DA1;
}
div.pokemon-type.ground {
  background-color: #ECCB56;
}
div.pokemon-type.rock {
  background-color: #CDBB71;
}
div.pokemon-type.bug {
  background-color: #C2D12F;
}
div.pokemon-type.ghost {
  background-color: #7574B6;
}
div.pokemon-type.steel {
  background-color: #C3C1D8;
}
div.pokemon-type.fire {
  background-color: #F15746;
}
div.pokemon-type.water {
  background-color: #6AA7DB;
}
div.pokemon-type.grass {
  background-color: #8FC854;
}
div.pokemon-type.electric {
  background-color: #FEE63B;
}
div.pokemon-type.psychic {
  background-color: #EE67A6;
}
div.pokemon-type.ice {
  background-color: #A5DDEE;
}
div.pokemon-type.dragon {
  background-color: #7A74B6;
}
div.pokemon-type.dark {
  background-color: #8F6957;
}
div.pokemon-type.fairy {
  background-color: #DEB0D2;
}